<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.nuoshi.console.persistence.write.taofang.message.MessageWriteMapper">

    <insert id="insertMessageIntoInbox" parameterType="com.nuoshi.console.domain.message.Message" useGeneratedKeys="true" keyProperty="indexid">
        INSERT INTO msg_in (
            sender,
            receiver,
            sendernick,
            title,
            cts,
            readflag,
            messageid,
            root,
            parent,
            type
        )
        VALUES (
            #{sender},
            #{receiver},
            #{sendernick},
            #{title},
            #{cts},
            #{readflag},
            #{id},
            #{root},
            #{parent},
            #{type}
        )
    </insert>
    <insert id="insertMessage" useGeneratedKeys="true" keyProperty="id" parameterType="com.nuoshi.console.domain.message.Message">
        INSERT INTO message (
            title,
            cts,
            content,
            root,
            parent,
            refcount,
            sender,
            receiver)
        VALUES (
            #{title},
            #{cts},
            #{content},
            #{root},
            #{parent},
            #{refcount},
            #{sender},
            #{receiver} )
    </insert>
    
    <update id="incrementUserStatsInfo">
    	UPDATE user_stats SET msgincount = msgincount + 1, msginnew = msginnew + 1 WHERE id = #{agentId}
    </update>
</mapper>
